<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.breakout.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BestApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".auth.EmailPasswordActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".concerts.concert.meeting.FastMeetingActivity" />
        <activity
            android:name=".user.UserActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""
            />
        <activity android:name=".main.DefaultActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"/>
        <activity android:name=".user.EditingAct" />
        <activity android:name=".concerts.ConcertsActivity" />
        <activity android:name=".concerts.concert.ConcertActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label=""/>
        <activity android:name=".concerts.news.ConcertNewsActivity" />

        <activity android:name=".concerts.concert.meeting.qrcodetest.TestActivity" />

        <activity android:name=".concerts.concert.songs.SongActivity" />
        <activity android:name=".concerts.concert.meeting.chat.ChatActivity" />

    </application>

</manifest>